<header>
  <h1>{{#link-to 'index'}}Reciclame{{/link-to}}</h1>
  <nav>
    <li {{action 'goToPlaces'}} class="nav-menu-opt">places</li>
    <li class="nav-menu-opt">{{#link-to 'about'}}about{{/link-to}}</li>
    <li {{action 'login'}} class='nav-menu-opt'>sign in</li>
  </nav>
  <div class="mob-menu">
    <span id="resp-button" {{action 'showMenu'}}></span>
  </div>
</header>
<div class="clear"></div>
<aside>
  {{outlet sidebar}}
</aside>
  {{outlet modal}}
  {{view Reciclame.MapView}}
