<%= form_for(@recicle_place) do |f| %>
  <% if @recicle_place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recicle_place.errors.count, "error") %> prohibited this recicle_place from being saved:</h2>

      <ul>
      <% @recicle_place.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :lat %><br />
    <%= f.number_field :lat %>
  </div>
  <div class="field">
    <%= f.label :lng %><br />
    <%= f.number_field :lng %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
