<h1>Listing recicle_places</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Lat</th>
    <th>Lng</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recicle_places.each do |recicle_place| %>
  <tr>
    <td><%= recicle_place.name %></td>
    <td><%= recicle_place.address %></td>
    <td><%= recicle_place.lat %></td>
    <td><%= recicle_place.lng %></td>
    <td><%= link_to 'Show', recicle_place %></td>
    <td><%= link_to 'Edit', edit_recicle_place_path(recicle_place) %></td>
    <td><%= link_to 'Destroy', recicle_place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Recicle place', new_recicle_place_path %>
