<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @recicle_place.name %>
</p>

<p>
  <b>Address:</b>
  <%= @recicle_place.address %>
</p>

<p>
  <b>Lat:</b>
  <%= @recicle_place.lat %>
</p>

<p>
  <b>Lng:</b>
  <%= @recicle_place.lng %>
</p>


<%= link_to 'Edit', edit_recicle_place_path(@recicle_place) %> |
<%= link_to 'Back', recicle_places_path %>
